
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 210mm;
  height: 297mm;
}

svg {
  width: 210mm;
  height: 297mm;
}

.print__firstname,
.print__lastname,
.print__org {
	position: absolute;
	width: 210mm;
	text-align: center;
	font-size: 6mm;
	font-family: Roboto;
  padding: 0 35mm;
  font-style: italic;
}

.print__firstname {
	top: 71.7mm;
}

.print__lastname {
	top: 82.3mm;
}

.print__org {
	top: 149mm;
	font-size: 4.5mm;
	max-height: 28mm;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: break-spaces;
}

